includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    phpVersion: 80200
    paths:
        - src
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
